/* compass stuff*/
@import "compass";
@import "compass/css3";
@import "compass/layout/sticky-footer";

/* color font texture variables */
@import "palette";

/* stylesheet imports (frameworks) */
@import "normalize";
@import "base";
@import "skeleton";
@import "icons";
@import "layout";
@import "sidr";


body {
  background: $body-bg;
}

table {
  width: 100%;
  border-top: 1px solid #ebebeb;
  tr {
    padding: 10px 0;
    border-bottom: 1px solid #ebebeb;
    &:nth-child(even) {
      background: #f7f7f7;
    }
  }
  td {
    padding: 5px;
    &.order {
      text-align: right;
      padding: 10px;
      .button {
        margin-left: 10px;
        padding: 5px;
        text-decoration: none;
      }
    }
  }
}

.small-hero {
  background: black url(/images/tg-hero.jpg) center bottom no-repeat;
  @include background-size(cover);
  height: 100px;
  margin: 0;
  .index & {
    display: none;
  }
}

.hero {
  text-align: center;
  background: black url(/images/tg-hero.jpg) center center no-repeat;
  padding: 20px 0;
  text-shadow: 1px 1px 2px #000;
  @include background-size(cover);
  color: #fff;
  h1 {
    margin: 0;
    a.logo {
      display: block;
      text-indent: -1000em;
      overflow: hidden;
      height: 300px;
      width: 300px;
      background: transparent url(/images/sattwachai-logo.png) 0 0 no-repeat;
      @include background-size(100%);
      margin: 0 auto;
    }
  }
  ol {
    text-align: left;
    font-size: 28px;
    list-style-type: none;
    li {
      line-height: 1.2;
      position: relative;
      &:before {
        content: '';
        display: inline-block;
        background: transparent url(/images/cup-and-hand.png) 0 0 no-repeat;
        vertical-align: middle;
        width: 24px;
        height: 24px;
        position: absolute;
        top: 5px;
        left: -30px;
        @include background-size(100%);
      }
    }
  }
  @media #{$small-only} {
    h1 a.logo {
      height: 150px;
      width: 150px;
      @include background-size(100%);
    }
    h2 ol {
      font-size: 24px;
    }
  }
}

%active-nav {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border-width: 10px;
  border-color: transparent transparent #fff transparent;
  border-style: solid;
  margin-left: -10px;
  left: 50%;
  bottom: 0;
}

header {
  text-align: center;
  background: $header-bg;
  a {
    @include transition(all .2s);
    color: #fff;
    text-decoration: none;
    font-family: helvetica, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    display: inline-block;
    padding: 25px 15px;
    position: relative;
    &:hover {
      background: rgba(255,255,255,0.1);
    }
    .index &.home, .our-story &.our-story, .order &.order {
      &:hover {
        background: none;
      }
    }
    .index &.home {
      &:after {
        @extend %active-nav;
        text-decoration: none;
      }
    }
    .our-story &.our-story, .order &.order {
      &:after {
        content: "";
        display: block;
        position: absolute;
        right: 10px;
        left: 10px;
        bottom: 20px;
        background: rgba(255,255,255,0.35);
        height: 2px;
        @include border-radius(2px);
      }
    }
    .our-story &, .order & {
      &.home {
        position: absolute;
        text-indent: -999em;
        overflow: hidden;
        background: transparent url(/images/sattwachai-logo.png) 0 0 no-repeat;
        @include background-size(100%);
        width: 100px;
        height: 100px;
        top: 10px;
        left: 50%;
        margin-left: -50px;
      }
      &.our-story {
        margin-right: 80px;
      }
      &.order {
        margin-left: 80px;
      }
    }
  }
  .row {
    margin: 0;
  }
  @media #{$small-only} {
    height: 75px;
    a {
      font-size: 14px;
      &.home {
        left: 50%;
        margin-left: -50px;
        .index & {
          display: none;
        }
      }
      &.our-story, &.order {
        display: none;
      }
    }
  }
}

.chai-aside {
  text-align: center;
  p {
    font-size: 12px;
    color: #848484;
    margin-bottom: 0;
    .order & {
      margin-top: 20px;
    }
  }
  a {
    text-decoration: none;
  }
}

.button {
  background-color: #38a800;
  color: #fff;
  @include box-shadow(-2px 1px 1px #848484);
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}

footer {
  background: $footer-bg;
  padding-bottom: 5px;
  .fair-trade-logo {
    width: 50px;
    float: left;
    margin-right: 15px;
    margin-top: 15px;
  }
  .contact-info {
    text-align: right;
    margin-top: 20px;
  }
  .call-us {
    margin-top: 25px;
  }
  .policies {
    font-size: 13px;
    color: #444;
    a {
      color: #444;
      margin: 5px;
    }
  }
  a {
    text-decoration: none;
    &.foundicon-twitter, &.foundicon-facebook, &.foundicon-mail {
      font-size: 30px;
      color: $header-bg;
      padding: 5px;
    }
  }
  @media only screen and (max-width: 767px) {
    text-align: center;
    .fair-trade-logo {
      float: none;
    }
    .contact-info {
      text-align: center;
      margin-top: 10px;
    }
    .call-us {
      margin-top: 0;
    }
  }
}

.vine {
  height: 40px;
}

.mobile-nav-link {
  display: none;
  @media #{$small-only} {
    display: block;
    position: absolute;
    right: 23px;
    top: 23px;
    color: rgba(255,255,255,0.4);
    text-decoration: none;
    font-size: 35px;
  }
}

img {
  max-width: 100%;
}

@media #{$small-only} {
  .page-title {
    padding-top: 25px;
  }
}
