@font-face {
  font-family: "foundation-general";
  src: url("../fonts/general_foundicons.eot");
  src: url("../fonts/general_foundicons.eot?#iefix") format("embedded-opentype"), url("../fonts/general_foundicons.woff") format("woff"), url("../fonts/general_foundicons.ttf") format("truetype"), url("../fonts/general_foundicons.svg#GeneralFoundicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

 @font-face {
   font-family: 'foundation-social';
   src: url(/fonts/general_foundicons.eot);
   src: url(/fonts/social_foundicons.eot?#iefix) format("embedded-opentype"), url(/fonts/social_foundicons.woff) format("woff"), url(/fonts/social_foundicons.ttf) format("truetype"), url(/fonts/social_foundicons.svg#social_foundicons) format("svg");
   font-weight: normal;
   font-style: normal;
}

[class*="foundicon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
}


.foundicon-mail:before {
  font-family: "foundation-general";
  content: "\f007";
}

.foundicon-twitter:before {
  font-family: "foundation-social";
  content: "\f004";
}

.foundicon-facebook:before {
  font-family: "foundation-social";
  content: "\f003";
}

