%header
  .container
    .row
      %nav.sixteen.columns
        = link_to "home", "/", class: "home"
        = link_to "our story", "/our-story", class: "our-story"
        = link_to "order", "/order", class: "order"
        = link_to "blog", "/blog", class: "blog"
.small-hero
