---
title: Sattwa Chai, The Tea That Stirs The Maker
---
.hero
  %h1= link_to "Sattwa Chai", "/", class: "logo"
  %h2
    Sattwa
    %em (sawt-wa):
    .container
      .row
        .sixteen.columns
          %ol
            %li a sanskrit word depicting the universal life force of balance and harmony
            %li the tea that stirs the maker

= partial "nav"

.container
  .row
    .sixteen.columns
      .vine
  .row
    .ten.columns
      :markdown
        On the streets of Mumbai, the chai wallah brews chai daily over an open flame the same way it’s been done for centuries.  Chai brings people together for conversation, provides a kick to start the day, and fills the air with the aroma of exotic spices.  

        Sattwa Chai provides that tradition in every cup of our microbrewed chai concentrate.  Brewed with the finest organic spices and organic fair trade tea.  With your satisfaction at the forefront of our business, we share with you the experience that first grabbed us years ago.

        Sattwa Chai, family owned, second generation, is committed to sustainability and supports charitable endeavors at home and abroad.  Drink Sattwa Chai and lets get back to the basics!  Brewed with love from us to you.

        \- Sattwa Family
    .six.columns.chai-aside
      = link_to "http://www.chai-direct.com/TEA/category/SATTWA_CHAI" do
        %p 32oz organic chai concentrate
        %p= image_tag "/images/quart-bottle.png"
        %span.button buy now

