= partial "nav"
.container
  .row
    .sixteen.columns
      :markdown
        Traditional Chai Concentrate

        Micro-brewed with 100% organic spices and organic fair trade certified tea. Packaged in half-gallon bottles for food service and quart bottles for retail sales. 
        
        171N - Case of Half Gallons (6 per case) - $74.50
      
        Order »
       
        181N - Case of Quarts (12 per case) - $79.80

        Order »
       
        172N - Half Gallon Bottle - $12.55

        Order »
       
        182N - Quart Bottle - $6.81

        Order »
        

        Sattwa Sun Chai

        Exquisitely blended using Organic Fair Trade Certified Black Tea, and organic spices of cardamom, cinnamon, ginger, black pepper and cloves, Sattwa Sun is the finest, tastiest, masala chai on the market. Sattwa Sun is a cup of pure love dedicated to serious chai drinkers around the world! Fifty great servings per bag.

        301N - One 10oz bag of Sattwa Sun - $15.00

        Order »

        325N - One 5 lb box of Sattwa Sun - $88.00

        Order »
