---
title: "Sattwa Chai :: Organic Chai, The Tea That Stirs The Maker"
description: "Sattwa Chai, the tea that stirs the maker. As an original pioneer in the tea category, Sattwa has remained true to its roots and initial vision. Still family owned and operated, we love the rich spiritual heritage of India and authentic masala chai. Sattwa Chai is marketed to coffee roasters and cafes all over North America. Sattwa: a sanskrit word depicting the universal life force of balance and harmony."
keywords: "Chai, Chai Tea, Oregon Chai,Tazo, Starbucks, 3rd Street Chai, My Chai, Sattwa Chai, Food Service Chai, Food Service Tea, Fair Trade  Certified, 100% Organic, Sattwa Enterprises, Traditional Chai  Concentrate, micro-brewed, Organic Chai"
---

= partial "nav"
.container
  .row
    %h2.sixteen.columns.page-title Our Story

    .sixteen.columns
      :markdown
         Sattwa Chai, one of the pioneering chai companies in the United States, was born in 1995 out of a desire to support our extended family, our community, and out of a deep connection with India where chai (black tea) with spices has it origins.
         Our first chai product was a dry mix blend of spices and black tea, a traditional chai we call Sattwa Sun.  The American market was responding most favorably to a liquid chai concentrate that could be steamed up by baristas and called a 
         "chai tea latte."  Accordingly, Sattwa Chai created a premium concentrate that we brew with care using real tea leaves and spices.

         During the late 90's Sattwa Chai was continuing to grow alongside the Organic and Fair Trade movement, both of which were resonant with our values.  The internet and access to information about the world and our ways of living in it was fueling
         our desire to understand more about how we could play our part to enable sustainability and to promote the care of our planet and well being of all people.

         Sattwa Chai converted to using all organic materials and in 2004 began to purchase Fair Trade Tea.  To pay a premium for tea is to support the well being of the tea workers in regard to wages, health care, education, and child labor.  Our 
         number one core value reads, "loving and caring for our team and our global family comes first."

         Sattwa Chai is unique in the marketplace.  We are a famliy owned, second generation company, dedicated to producing an authentic quality product backed by a genuine caring for people and the environment.  We call on our spiritual understanding
         and our belief in basic human values to manage our company and foster wholesome relationships.

    .sixteen.columns
      %p= image_tag "/images/family-pic.jpg", alt: "this is the Sattwa Chai family pic"

      :markdown
         **_Sattwa Chai, where..._**

         1. Loving and caring for our team and our global family comes first.
         1. Exceptional customer service is a way of life.
         1. We take responsibility for actions and words with each other, our customers, and our community.
         1. A unified team is the foundation of our company's success.
         1. We offer the highest quality products and services to our customers, every time.

         **_Sattwa Chai's Mission..._** for everyone in the world to try a cup of Sattwa Chai.

         
