= partial "nav"
.container
  .row
    .sixteen.columns
      :markdown
        Guatama Buddha made a promise to his disciples that for nine years he would meditate without sleeping.  Several years into his promise, he became tired while sitting in meditation.  Inspired by an intervention of Mother Nature,  he involuntarily chewed a few leaves of a nearby tree and immediately felt a feeling of well being and revitalization.

        Immensely pleased,  he collected the leaves of that tree, Camellia Sinesis, which helped him complete his nine years of meditation without sleep.  He later moved towards the east and gave thse leaves to a group of monks. The monks received leaves from Siidhartha and started consuming chai to keep them alert during their meditation.

        Fast forward several thousand years to 1995. A small group of friends in the foothills of the oregon Coastal range were playing with different formulas of chai.  Sitting around enjoying their mornings with conversation and chai.  A friend mentioned they should sell their chai and their began the journey of Sattwa Chai.  

        At the time “chai tea”, and masala chai, which origins are in indai was not well known in the U.S.  Several companies began producing different versions of chai.  Many saw chai as a fad or product that would simply be here one day and gone the next.  We now know this was not the case.  Chai is loved across the country, it can be found a nearly every coffee shop and cafe and in stores all over.

        The word Sattwa

        1.  Purity, light, lightness.

        When the quality of sattva is predominant or increasing in a person, there will be certain characteristics. You will see an increase of happiness, knowledge, light, purity, peace and harmony.

        To have a sattvic diet, one should try to eat as much as possible foods which are fresh, ripe, nutritious and tasty. Some examples of sattvic foods are milk, fruit, dal, and almonds, and there are many more.

        Sattwa Chai Today

        Sattwa Chai is still family owned, we are now a second generation company.  We continue to be inspired by chai, and the conversations we have with people around the globe.  We still do business from our home office in Newberg, Oregon, where cayotes, bobcats, eagles, deer, and elk can be seen out our window.  We are chai pioneers and produce the finest chai products on the market.  Give it a try and see what you think.  We believe you will be satisfied.

        Sattwa Chai’s Mission


        Sattwa Chai’s Values

        Sattwa Chai, where....

        Loving and caring for our team our global family comes first.

        Esceptional customer service is a way of life.

        We take responsibility for actions and words on our team and with our customers, community, and environment/

        A unified team is the foundation of our companies success.

        Offer the highest quality products and services to our customers, every time.

        
