---
title: "Sattwa Chai :: Organic Chai, The Tea That Stirs The Maker"
description: "Sattwa Chai, the tea that stirs the maker. As an original pioneer in the tea category, Sattwa has remained true to its roots and initial vision. Still family owned and operated, we love the rich spiritual heritage of India and authentic masala chai. Sattwa Chai is marketed to coffee roasters and cafes all over North America. Sattwa: a sanskrit word depicting the universal life force of balance and harmony."
keywords: "Chai, Chai Tea, Oregon Chai, Sattwa Chai, Food Service Chai, Food Service Tea, Fair Trade  Certified, 100% Organic, Sattwa Enterprises, Traditional Chai  Concentrate, micro-brewed, Organic Chai"
---

= partial "nav"
.container
  .row
    .sixteen.columns
      %h1 Return Policy

      %p All merchandise purchased from sattwachai.com cannot be returned by mail. If you receive a damaged or defective perishable item, please email Customer Service with the following information and an associate will be happy to help you,

      %ul
        %li Order number of item
        %li Date of arrival
        %li Condition of item at time of arrival
        %li Detailed explanation of the issue
