= partial "nav"
.container
  .row
    .sixteen.columns
      %h1 Return Policy

      %p All merchandise purchased from sattwachai.com cannot be returned by mail. If you receive a damaged or defective perishable item, please email Customer Service with the following information and an associate will be happy to help you,

      %ul
        %li Order number of item
        %li Date of arrival
        %li Condition of item at time of arrival
        %li Detailed explanation of the issue
